:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #212225;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #212225;
  --soft: #686767;
  --light: rgba(255, 255, 255, 0.87);
}

body {
  padding: 0px;
  margin: 10px;
  border: 0px;
  background-color: var(--bg);
  color: var(--light);
}

header {
  background-image: url("/assets/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.card {
  background-color: var(--soft);
}

.btn {
  background-color: var(--light);
  border: var(--bg);
  color: var(--bg);
}
